<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.albumMapper">	
	<select id="test" resultType="com.bridge.app.domain.UserVO">
		select * from user
	</select>	
	<insert id="album">
		insert into album(albumname, albumdate, albumtype, albumgenre, artist_artistnumber, albumimg)
		values(#{albumname}, #{albumdate}, #{albumtype}, #{albumgenre}, #{artist_artistnumber}, #{albumimg})
	</insert>	
</mapper>