<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.artistMapper">	
	<insert id="regist">
		insert into artist(artistname, artisttype, artistgenre, artistimg, userNumber) 
		values(#{artistName}, #{artistType}, #{artistGenre}, #{artistImg}, #{userNumber})
	</insert>	
	<select id="getArtistOne" resultType="ArtistVO">
		select * from artist where artistnumber=#{artistNumber}
	</select>	
	<select id="selectAristNum" resultType="int">
		select artistnumber from artist where artistname=#{artistName}
	</select>	
	<select id="selectArtistOne" resultType="ArtistVO">
		select * from artist where artistnumber=#{artistNumber}
	</select>	
	<select id="selectArist" resultType="ArtistVO">
		select artistnumber, artistname, artisttype, artistgenre, artistimg 
		from artist where userNumber=#{userNumber}
	</select>
	<select id="selectAlbum" resultType="int">
		select artist_artistnumber from album 
		where artist_artistnumber=#{artistNumber}
	</select>
	<update id="update" > 
		update artist set artistname = #{artistName},
				               artisttype = #{artistType},
				               artistgenre = #{artistGenre}
	    where artistnumber=#{artistNumber}
	</update>	
	<delete id="remove" parameterType="int">
		delete from artist where artistnumber=#{artistNumber}
	</delete>
	
</mapper>