<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.artistReplyMapper">	
	<select id="getReplyList" parameterType="hashMap" resultType="ArtistReplyVO">
		SELECT c.* 
		FROM (SELECT @RNUM := @RNUM + 1 AS rnum, a.* FROM (SELECT * FROM artist_reply where artistnumber=#{artistNumber} ORDER BY replygroup DESC) a,  
			 ( SELECT @RNUM := 0 ) b) c where c.rnum <![CDATA[>=]]> #{start} and c.rnum <![CDATA[<=]]> #{end}
	</select> 
	
	<insert id="writeReply" parameterType="ArtistReplyVO">			
		INSERT INTO artist_reply(artistnumber, usernumber, replycontext, replygroup, replydept, userid) 
		VALUES (#{artistNumber}, #{userNumber}, #{replyContext}, IF(#{replyNumber}=0, 0, #{replyNumber}), IF(#{replyNumber}=0, 0, 1), (select userid from user where usernumber=#{userNumber}));
	</insert>
	
	<update id="updateReplyGroupNumber">
		update artist_reply as a, (select max(replynumber) maxi from artist_reply) r
		set a.replygroup=a.replynumber 
		where a.replynumber=r.maxi;
	</update>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM artist_reply WHERE replynumber=#{replyNumber} 
	</delete>
	<select id="countArtist" parameterType="int" resultType="int">		
		select count(*) from artist_reply where artistnumber=#{artistNumber}
	</select>
</mapper>