<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.downloadMapper">
	<select id="searchAll" resultType="DownloadVO">
		select * from download where usernumber=#{usernumber}
	</select>	
	
	<insert id="regist">
		insert into playlist (playlistnumber, musicnumber, usernumber) values(#{playlistNumber}, #{musicNumber}, #{userNumber});
	</insert>
	
	<delete id="remove">
		delete from download where musicnumber=#{musicNumber}
	</delete>
</mapper>