<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.musicMapper">	
	<select id="searchAll" resultType="com.bridge.app.domain.MusicVO">
		select m.musicrank as musicrank, m.musicsubject as musicsubject, m.musicvideo as musicvideo, a.albumimg as albumimg, ar.artistname as artistname, a.albumname as ablumname, m.musicnumber as musicnumber
		from music as m inner join album as a on m.albumnumber=a.albumnumber inner join artist as ar on m.artistnumber=ar.artistnumber
	</select>
	
	<select id="searchPlaylist" resultType="int">
		select plyalistNumber from music where usernumber=#{usernumber}
	</select>
	
	<insert id="regist">
		insert into music (musicsubject, musicfile, musicvideo, musictitle)
		 <foreach collection="list" item="item" separator=" , ">
		values(#{musicsubject}, #{musicfile}, #{musicvideo}, #{musictitle})
		  </foreach>
	</insert>
	
	
	<delete id="remove">
		delete from playlist where musicnumber=#{musicnumber}
	</delete>
</mapper>