<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.playlistMapper">   
   <select id="searchAll" resultType="com.bridge.app.domain.PlaylistVO">
      select * from music
   </select>   

   <insert id="regist" parameterType="com.bridge.app.domain.PlaylistVO">
      insert into playlist(musicnumber, usernumber) values(#{musicNumber}, #{userNumber})
   </insert>
   
   <insert id="registAll" parameterType="map">
      insert into playlist(musicnumber, usernumber) values
      <foreach collection="playListAll" item="playlist" separator=",">
         (#{playlist.value}, #{usernumber})
      </foreach>
   </insert>
   
   <select id="search_myalbum" resultType="com.bridge.app.domain.PlaylistVO">
      select * from playlist where
      <foreach collection="playListAll" item="playlist" separator="or">
         musicnumber=#{playlist.value} and usernumber=#{usernumber}
      </foreach>
   </select>
   
   <delete id="remove">
	delete from playlist where musicnumber=#{musicNumber} and usernumber=#{userNumber}
   </delete>
   
   	<select id="selectAlbum"  parameterType="map" resultType="com.bridge.app.domain.PlaylistVO">
		select m.musicnumber as musicnumber, m.musicsubject as musicsubject, a.albumimg as albumimg, t.artistname as artistname, a.albumname as albumname 
		from music as m inner join playlist as p inner join album as a inner join artist as t
		where m.musicnumber = p.musicnumber and a.albumnumber = m.albumnumber and t.artistnumber = m.artistnumber and p.usernumber=#{userNumber} Limit #{limit}
	</select>
   
   
</mapper>