<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mappers.playlistMapper">   
   <select id="searchAll" resultType="com.bridge.app.domain.PlaylistVO">
      select * from music
   </select>   

   <insert id="regist" parameterType="com.bridge.app.domain.PlaylistVO">
      insert into playlist(musicnumber, usernumber) values(#{musicNumber}, #{userNumber})
   </insert>
   
   <insert id="registAll" parameterType="map">
      insert into playlist(musicnumber, usernumber) values
      <foreach collection="playListAll" item="playlist" separator=",">
         (#{playlist.value}, #{usernumber})
      </foreach>
   </insert>
   
   <select id="search_myalbum" resultType="com.bridge.app.domain.PlaylistVO">
      select * from playlist where
      <foreach collection="playListAll" item="playlist" separator="or">
         musicnumber=#{playlist.value} and usernumber=#{usernumber}
      </foreach>
   </select>
   
   <delete id="remove">

   </delete>
</mapper>